<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/all-tracks.css">
	<title>Document</title>
</head>

<body>
	<header class="header">
		<h1 class="header__title">All tracks</h1>
		<img class="header__profile-pic" src="img/danielz.jpg">
	</header>
	<main>
		<div class="grid-container">
			<div class="all-tracks">
				<ul class="all-tracks__list">
					<% tracks.forEach(track => { %>
					<a href="/player/<%- track.id %>">
						<li class="all-tracks__list-item">
							<span class="all-tracks__track"><%- track.title %></span>
							<span class="all-tracks__artist"><%- track.artist %></span>
						</li>
					</a>
					<% }); %>
				</ul>
			</div>
			<div class="alphabet-list">
				<button class="tracklist__alphabet-letter">#</button>
				<%for (let index = 0; index < 26; index++) {%>
				<button class="tracklist__alphabet-letter"><%= (index + 10).toString(36) %></button>
				<%}%>
			</div>
		</div>
	</main>
	<footer>
		<%- include('partials/nav.ejs') %>
				</footer>

				<script src="https://kit.fontawesome.com/ab39bcca60.js"></script>
</body>

</html>